python-dotenv==1.1.1
requests==2.32.4
moviepy==2.2.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
numpy==2.0.2
pydub==0.25.1
Pillow==10.3.0
tqdm==4.67.1
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-api-python-client==2.178.0
requests==2.32.3
python-dotenv==1.0.1
